{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="container">

    <div class='text-center py-5 my-0'>
        <img class="text-center mx-auto" src="{{ user.profile.image.url }}">
        <h2 class="account-heading text-white">{{ user.name|title }}</h2>
        <p class="text-white">{{ user.email }}</p>
    </div>
    <form method="POST" enctype="multipart/form-data" class="mx-auto">
            {% csrf_token %}
            <fieldset class="form-group text-info">
                <div class="row">
                    <div class="col-6">
                        <legend class="mb-4 text-white">Profile Info </legend>
                    </div>
                    <div class="col-6">
                        <small><a href="#" class="ml-5 text-white">Change Password</a></small>
                    </div>
                </div>
                <hr>
                {{ p_form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
</div>

{% endblock content %}