{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="vw-100 vh-100" style="background-image: url('{% static '/img/PSD_Prj_(video).png' %}'); background-size: 100% 100%; background-repeat: no-repeat;">
    <div class="wrapper" id="video_box">
    <iframe id="player_upcoming" src="{{qs.upcoming_events}}" frameborder="0" width="100%" height="100%" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% comment %} {% if qs.upcoming_events %}
  <iframe width="560" height="315" class="embed-responsive-item" src="{{qs.upcoming_events}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %} {% endcomment %}


{% endblock content%}