{% load static %}
{% load crispy_forms_tags %}

<div class="modal fade" id="whoshere_modal" tabindex="-1" role="dialog" aria-labelledby="whoshere_modal" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header text-white py-1 px-2">
            <h5 class="modal-title" id="whoshere_modal_title"><span class="fa fa-search text-secondary"></span> WHO'S HERE</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0" style="min-height: 60vh; background-color: #eee;">
            <div style="background-color: black; border: 1p solid white;">
              <button class="btn text-white">ALL</button>
              <button class="btn text-white">A</button>
              <button class="btn text-white">B</button>
              <button class="btn text-white">C</button>
              <button class="btn text-white">D</button>
              <button class="btn text-white">E</button>
              <button class="btn text-white">F</button>
              <button class="btn text-white">G</button>
              <button class="btn text-white">H</button>
              <button class="btn text-white">I</button>
              <button class="btn text-white">J</button>
              <button class="btn text-white">K</button>
              <button class="btn text-white">L</button>
              <button class="btn text-white">M</button>
              <button class="btn text-white">N</button>
              <button class="btn text-white">O</button>
              <button class="btn text-white">P</button>
              <button class="btn text-white">Q</button>
              <button class="btn text-white">R</button>
              <button class="btn text-white">S</button>
              <button class="btn text-white">T</button>
              <button class="btn text-white">U</button>
              <button class="btn text-white">V</button>
              <button class="btn text-white">W</button>
              <button class="btn text-white">X</button>
              <button class="btn text-white">Y</button>
              <button class="btn text-white">Z</button>
            </div>
            <div style="background-color: white;" class="row mx-0 p-1">
              <div class="col-3">
                <p class="mb-0">
                  <b>Display Name</b>
                </p>
              </div>
              <div class="col-4">
                <p class="mb-0">
                  <b>Title</b>
                </p>
              </div>
              <div class="col-5">
                <p class="mb-0">
                  <b>Currently In</b>
                </p>
              </div>
            </div>
            {% for i in user.get_all_logged_in_users %}
              <div class="row mx-0 py-1" style="background-color: lightgray;">              
                <div class="col-3">
                  <p class="mb-0">{{i.first_name|title}} {{i.profile.last_name|title}}</p>
                </div>
                <div class="col-4">
                  <p class="mb-0">{{i.title|title}}</p>
                </div>
                <div class="col-4">
                  <p class="mb-0">{{i.profile.state|title}}</p>
                </div>
                <div class="col-1 text-right">
                  <button class="btn py-0" data-toggle="modal" data-target="#other_profile_modal{{forloop.counter}}">
                    <span class="fa fa-user-circle-o" data-toggle="tooltip" data-placement="bottom" title="View User Profile"></span>
                  </button>
                </div>  
              </div>
            {% endfor %}            
          </div>
        </div>
      </div>
    </div>

    <!-- Other Profile Modal -->
    {% for i in user.get_all_logged_in_users %}
    <div class="modal fade" id="other_profile_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="other_profile_modal" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-white py-1 px-2">
            <h5 class="modal-title" id="other_profile_modal_title"><span class="fa fa-user-circle-o text-secondary"></span> USER PROFILE</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-white px-3 py-3" style="min-height: 35vh;">
            <div class="row mx-0 mb-3">
              <div class="col-9">
                <h4 class="mb-2">{{i.first_name|title}} {{i.profile.last_name|title}}</h4>
                <p class="mb-0">Title: {{i.title|title}}</p>
                <p>Organization/Affiliation: {{i.organization|title}}</p>
              </div>
              <div class="col-3">
                <img src="{{i.profile.image.url}}" alt="" class="w-100 img-fluid">
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-12 text-center">
                <button role="button" data-toggle="modal" data-target="#send_msg_modal{{forloop.counter}}" class="btn mr-3" id="send_msg"><span class="fa fa-envelope"></span> SEND MESSAGE</button>
                <button role="button" class="btn mr-3" id="share_profile"><span class="fa fa-share-alt"></span> SHARE PROFILE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Send Message Modal -->
  {% for i in user.get_all_logged_in_users %}
    <div class="modal fade" id="send_msg_modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="send_msg_modal" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-white py-1 px-2">
            <h5 class="modal-title" id="send_msg_modal_title"><span class="fa fa-user-circle-o text-secondary"></span> SEND MESSAGE</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-white px-3 py-3" style="min-height: 35vh;">
            <form method='POST' action="{% url 'msg_sent' %}">{% csrf_token %}
              <p>You are sending Message to <strong>{{i}}</strong></p>
              <div class="form-group">
                <input type="text" class="form-control" name='reciever' value="{{i}}" hidden>
              </div>  
              <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control" name='subject'>
              </div>
              <div class="form-group">
                <label>Mesage</label>
                <textarea rows="8" class="form-control w-100" name='message'></textarea>
              </div>
              <div class="form-group text-right">
                <button type="submit" class="btn btn-primary text-white ml-auto">SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
