{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Link2Class</title>
    {% include 'base/css.html' %}
    
    {% block base_head %}{% endblock %} 

  </head>
  <body>

  
  {% block content %}

  {% endblock %}
  

  {% include 'base/js.html' %}
{% block script %}{% endblock script%}
 
</body>
</html>